
<!--
<table>

    <tr>
    <th><button type = "button" (click) = "onManageMeets()" >Manage Events</button> </th>

    <br>
    <th><button type = "button" (click) = "manageFunActivities()">Manage Fun Activities</button></th>
    <br>
    <th><button type = "button" >Assign Athletes to a Meet</button></th>
    <br>
    <button type = "button" (click) = "weeklyTraining()">Weekly Training</button>

    </tr>
    <br>
    <button type = "button" >Assign volunteers</button>
    <br>
    <button type = "button" >Maintain track and field events</button>
    <br>
    <button type = "button" >Send message</button>
    <br>
    <button type = "button" >Chat room</button>
    <br>
    <button type="button" (click) = "appRequest()">You have requests for approval(Put button on right side of a page)</button>

  </table>

-->