.myInfo {
    text-align: center;
    color: purple;
}


.submit {
    color: white;
    color: purple;
}


.cancelButton {
    width:5%;
    margin-left:47.5%;
    color: purple;
    cursor: pointer;
  }

div.userInfo {
    display: grid;
    /*
    grid-template-columns: max-content max-content;
    */
    grid-gap: 15px;
    
    justify-content: center;

}

div.userInfo label  { text-align:left;}






